:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color-hero: #2f303a;
  --button-active-color: #188ce8;
  --background-color-secondary: #f5f4fa;
  --primary-logo-color: #afb1b8;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

/*body*/
body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

/*utility*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  display: block;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.about {
  display: none;
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}
.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}
.about__overlay {
  position: relative;
}
.about__box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.about__text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-logo-color);
  border: 1px solid var(--primary-logo-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--time-transition), border 250ms var(--time-transition);
  transition: color 250ms var(--time-transition), border 250ms var(--time-transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__main-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}
.features__icon-box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background: var(--background-color-secondary);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features__icon-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon-box {
    width: 270px;
  }
}
.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--background-color-hero);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__address {
  margin-top: 20px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}
.footer__link-map {
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    gap: 9px;
  }
}
.footer__text {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: left;
  }
}
@media screen and (max-width: 1199px) {
  .footer__subscribe-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer__input:-moz-placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-hero);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero-bgr-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bgr-mobile.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero-bgr-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bgr-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bgr-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bgr-desktop@2x.jpg");
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: var(--white-color);
  -webkit-transition: -webkit-transform 250ms var(--time-transition);
  transition: -webkit-transform 250ms var(--time-transition);
  transition: transform 250ms var(--time-transition);
  transition: transform 250ms var(--time-transition), -webkit-transform 250ms var(--time-transition);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: transparent;
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  color: var(--accent-color);
}
.mobile-menu__icon {
  fill: currentColor;
}
.mobile-menu__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu__nav {
  margin-bottom: auto;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.mobile-menu__link--current {
  color: var(--accent-color);
}
.mobile-menu__contacts-link {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}
.mobile-menu__contacts-link--accent {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social-line {
  display: block;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms var(--time-transition), visibility 250ms var(--time-transition);
  transition: opacity 250ms var(--time-transition), visibility 250ms var(--time-transition);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 93px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: relative;
  padding: 40px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--time-transition);
  transition: -webkit-transform 250ms var(--time-transition);
  transition: transform 250ms var(--time-transition);
  transition: transform 250ms var(--time-transition), -webkit-transform 250ms var(--time-transition);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__text {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.15;
  }
}
.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #000000;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}
.modal__close-icon {
  fill: currentColor;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
}
.modal__container {
  position: relative;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.modal__container:focus-within .modal__container__icon {
  color: var(--accent-color);
}
.modal__input {
  width: 100%;
  padding: 12px 12px 12px 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--time-transition);
  transition: border-color 250ms var(--time-transition);
}
.modal__input:focus {
  border-color: var(--accent-color);
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.modal__comment {
  width: 100%;
  height: 138px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--time-transition);
  transition: border-color 250ms var(--time-transition);
}
.modal__comment:-moz-placeholder-shown {
  font-size: 12px;
  line-height: 1.1666666667;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:placeholder-shown {
  font-size: 12px;
  line-height: 1.1666666667;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__container-checkbox {
  position: relative;
  margin-bottom: 30px;
}
.modal__checkbox-label {
  padding-left: 35px;
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.modal__checkbox-box {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  background-color: var(--white-color);
  -webkit-transition: background-color 250ms var(--time-transition), border-color 250ms var(--time-transition);
  transition: background-color 250ms var(--time-transition), border-color 250ms var(--time-transition);
}
.modal__checkbox-input:checked + .modal__checkbox-box {
  background-color: var(--accent-color);
  border-color: transparent;
}
.modal__checkbox-link {
  color: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.page-header__menu {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.page-header__link {
  color: currentColor;
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.page-header__link:hover, .page-header__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .page-header__link {
    padding: 32px 0;
  }
}
.page-header__link--current {
  position: relative;
  color: var(--accent-color);
}
.page-header__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.page-header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    gap: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-header__contacts-link {
  color: currentColor;
  -webkit-transition: color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition);
}
.page-header__contacts-link:hover, .page-header__contacts-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .page-header__contacts-link {
    padding: 30px 0;
  }
}
.page-header__link--accent {
  color: var(--primary-text-color);
}
.page-header__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .page-header__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__icon {
    margin-right: 10px;
  }
}
.page-header__menu-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .page-header__menu-toggle {
    display: none;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 34px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__cards-list {
  gap: 30px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-secondary);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__main-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team__main-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.button {
  border-radius: 4px;
  border: 0.5px solid transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--time-transition);
  transition: background-color 250ms var(--time-transition);
}
.button:hover, .button:focus {
  background-color: var(--button-active-color);
}

.hero__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.modal__button {
  padding: 10px 52px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 250ms var(--time-transition);
  transition: -webkit-box-shadow 250ms var(--time-transition);
  transition: box-shadow 250ms var(--time-transition);
  transition: box-shadow 250ms var(--time-transition), -webkit-box-shadow 250ms var(--time-transition);
}
.modal__button:hover, .modal__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__button {
  position: relative;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer__button__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}

.portfolio__button {
  padding: 6px 22px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
  -webkit-transition: color 250ms var(--time-transition), -webkit-box-shadow 250ms var(--time-transition);
  transition: color 250ms var(--time-transition), -webkit-box-shadow 250ms var(--time-transition);
  transition: color 250ms var(--time-transition), box-shadow 250ms var(--time-transition);
  transition: color 250ms var(--time-transition), box-shadow 250ms var(--time-transition), -webkit-box-shadow 250ms var(--time-transition);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.cards {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .cards {
    width: 100%;
  }
}
.cards__container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .cards__container {
    padding-bottom: 30px;
  }
}
.cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.cards__title--bigger {
  letter-spacing: 0.06em;
}
.cards__title--accent {
  text-transform: none;
}
.cards__title--uppercase {
  text-transform: uppercase;
}
.cards__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo__text {
  color: #000000;
}
.logo__text--inverse {
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}
.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-networks__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-logo-color);
  border-radius: 50%;
  -webkit-transition: color 250ms var(--time-transition), background-color 250ms var(--time-transition);
  transition: color 250ms var(--time-transition), background-color 250ms var(--time-transition);
}
.social-networks__link:hover, .social-networks__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.social-networks__icon {
  fill: currentColor;
}
.social-networks__link--white {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=main.css.map */