.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color-hero);
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }

  &__overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
