.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 34px;
    gap: 8px;

    @media screen and (min-width: $tablet) {
      justify-content: center;
    }
  }

  &__cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
