.cards {
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    &--small {
      text-align: left;
      padding: 20px 24px 20px 24px;
      border: 1px solid #eeeeee;
      border-top: none;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: var(--title-text-color);

    &--bigger {
      margin-bottom: 4px;

      font-weight: 700;
      font-size: 18px;
      line-height: calc(36 / 18);
      letter-spacing: 0.06em;
    }

    &--accent {
      text-transform: none;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-transform: capitalize;

    &--accent {
      line-height: calc(30 / 16);
      text-transform: none;
    }

    &--white {
      max-width: 322px;

      font-size: 18px;
      line-height: calc(28 / 18);
      color: var(--white-color);
      text-transform: none;
    }
  }

  &__box-overlay {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms var(--time-transition);
  }
}

.portfolio__cards {
  box-shadow: none;
  background-color: none;
  transition: box-shadow 250ms var(--time-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .cards__overlay,
  &:focus .cards__overlay {
    transform: translateY(0);
  }
}
